$mainColor: grey;
$secondaryColor: plum;

/* FONTS 
font-family: 'Neuton', serif;
font-family: 'Squada One', cursive;
font-family: 'Lalezar', cursive;
*/
@import url("https://fonts.googleapis.com/css?family=Lalezar|Neuton|Squada+One&display=swap");
